{% if editmode %}
    Video: {{ pimcore_checkbox("showVideo") }}<br/>
    Text-Shadow: {{ pimcore_checkbox("textShadow") }}<br/>

    Image:

    {{ pimcore_image("image", {
        "width": 200,
        "height": 200,
    }) }}


{% endif %}


<div class="hero">
    <div class="hero-image">
        {{ pimcore_image("image", {
            "width": 300,
            "height": 200,
            "thumbnail":  "hero"
        }) }}
    </div>
    <div class="hero-content">
        <h2 class="text-headline left-line mb-xl-4 aos-init aos-animate">{{ pimcore_input("headline", {"placeholder": "Headline"}) }}</h2>
        <div class="text-content">
            {{ pimcore_wysiwyg("text", {"placeholder": "Text..."}) }}
        </div>
    </div>
</div>