<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{{ document.getTitle() }}</title>
    <meta name="description" content="{{ document.getDescription() }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    {% if editmode %}
    <style>
        [data-aos^=fade][data-aos^=fade] {
            opacity: 1 !important;
            transition-property: opacity, transform;
        }

        [data-aos=fade-up] {
            transform: translate3d(0, 0px, 0);
        }
    </style>
    {% endif %}
</head>

<body class="{{ document.getProperty('theme') }} document-{{ document.id }} {{ editmode ? 'editmode' : 'front' }}">
<div id="app" class="{{ document.getProperty('bodyClass') }}">
    {% if not editmode %}
        {% include 'components/navigation.html.twig' %}
    {% endif %}

    <div class="page-content">
        {{ block('content') }}
    </div>

    {% if document.getProperty('footerDocument') %}
        {{ pimcore_inc(document.getProperty('footerDocument'), {
            pageDocument: document,
            theme: document.getProperty('theme')
        }) }}
    {% endif %}
</div>

{% if not editmode %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://www.ager.cc/assets/build/runtime.a96cdb57.js"></script>
    <script src="https://www.ager.cc/assets/build/js/ager.fd147edc.js"></script>
    <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
    <script>
        document.getElementById("sujet-1").onclick = function() {
            var navToggle = document.getElementsByClassName('nav-toggle');
            navToggle[0].classList.add("active");

            var navList = document.getElementsByClassName('nav-list');
            navList[0].classList.add("open");
            var navSub = document.getElementsByClassName('nav-sub-outer');
            navSub[0].classList.add("open");
            navSub[1].classList.remove("open");

            var navLink = document.getElementsByClassName('nav-link');
            navLink[0].classList.add("open");
            navLink[1].classList.remove("open");
        };

        document.getElementById("sujet-2").onclick = function() {
            var navToggle = document.getElementsByClassName('nav-toggle');
            navToggle[0].classList.add("active");

            var navList = document.getElementsByClassName('nav-list');
            navList[0].classList.add("open");

            var navSub = document.getElementsByClassName('nav-sub-outer');
            navSub[1].classList.add("open");
            navSub[0].classList.remove("open");

            var navLink = document.getElementsByClassName('nav-link');
            navLink[1].classList.add("open");
            navLink[0].classList.remove("open");
        };

        window.addEventListener('click', function (evt) {
            if(evt.target.matches('.nav')) {
                var navToggle = document.getElementsByClassName('nav-toggle');
                navToggle[0].classList.remove("active");

                var navList = document.getElementsByClassName('nav-list');
                navList[0].classList.remove("open");

                var navSub = document.getElementsByClassName('nav-sub-outer');
                navSub[1].classList.remove("open");
                navSub[0].classList.remove("open");

                var navLink = document.getElementsByClassName('nav-link');
                navLink[1].classList.remove("open");
                navLink[0].classList.remove("open");
            }
        });
    </script>
{% endif %}
</body>
</html>